/* Contenedor principal */
.filter_wrapper {
    position: relative;
    display: inline-block;
    font-family: 'Inter', 'sans-serif';
}

/* Botón de ícono principal */
#open_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid transparent;
    border-radius: 8px;
    padding: 8px;
    color: var(--text);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 27px;
}

#open_filter:hover,
#open_filter.filter_is_open{
    background-color: var(--accent-bg);
    color: var(--accent);
}

/* Menú flotante (Dropdown) */
.dropdown_menu {
    position: absolute;
    top: calc(100% + 8px); 
    right: 100%;
    margin-right: 8px;
    width: 280px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 0 10px 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color);
    padding: 16px;
    z-index: 30;

    transform-origin: top right;
    animation: growDiagonal 0.2s ease-out forwards;
}

@keyframes growDiagonal {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* Botón de limpieza*/
#clear_filter {
    position: absolute;
    top: 12px;
    right: 12px;

    padding: 0px;

    width: 60px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text);
    background: transparent;
    border: none;
    border-radius: 9999px;

    cursor: pointer;
    transition: all 0.2s ease;

    line-height: 1;
    font-size: 10px;
}

#clear_filter:hover {
    color: var(--bg);
    background-color: var(--accent);
}

/* Cuando hay filtros */
#clear_filter.active_btn {
    color: var(--accent);
}

/* Contenedor de los botones de categoría */
.categories_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 28px; 
}

/* Botones individuales de categoría */
.categories_container button {
    background-color: var(--code-bg);
    color: var(--text-h);
    border: 1px solid transparent;
    border-radius: 9999px; 
    padding: 6px 14px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.categories_container button:hover {
    background: linear-gradient(
        to left,
        var(--accent-bg) 0%,
        transparent 100%
    );
    background-clip: padding-box;
    color: var(--accent);
}

/* Estado ACTIVO para las categorías y botones */
.active_btn,
.categories_container button.active_btn {
    background-color: var(--accent);
    color: var(--bg);
    border-color: var(--accent);
}

.categories_container button.active_btn:hover {
    filter: brightness(0.9);
}